@use "./variables";
@use 'sass:color';
@use './mixins/text';

.top-picks { 
  position: relative;
  padding: 50px;
  background-color: adjust-color(variables.$primary, $lightness: 5%);

  &__header {
    border-left: solid 5px variables.$primary;
    padding-left: 20px;
    color: #fff;
  }

  &__title {
    margin: 0;
    font-family: arial;
  }
  
  &__desc {
    @include text.small-cap;
    opacity: 0.7;
  }
  
  &__wrapper {
    display: flex;
    margin: 0 -5px;
  }
}